{% load admin_static %}
{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}BreakAway Schedule{% endblock %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>

    {% block extrastyle %}{% endblock %}

    <script type="text/javascript">
        window.onload = function() {
            window.top.location.href = "{{ iframe_redirect_url }}";
        }
    </script>
    {% block extrascript %}{% endblock %}
    {% block extrahead %}{% endblock %}

    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE"/>
    {% endblock %}


    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% load i18n %}

<body class="breakaway">

<!-- Container -->
<div id="container">
 {{ iframe_redirect_url }}
</div>
<!-- END Container -->

</body>
</html>


