{% load admin_static %}
{% load staticfiles %}
{% load url from future %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}BreakAway Schedule{% endblock %}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <link rel="stylesheet" type="text/css" href="http:////netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/ctcom.css' %}"/>

    {% block extrastyle %}{% endblock %}

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.js" type="text/javascript"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.js" type="text/javascript"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.js" type="text/javascript"></script>

    {% block extrascript %}{% endblock %}
    {% block extrahead %}{% endblock %}

    {% block blockbots %}
        <meta name="robots" content="NONE,NOARCHIVE"/>
    {% endblock %}


    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
{% load i18n %}

<body class="breakaway">

<!-- Container -->
<div id="container-fluid" style="padding:15px;">
    <div class="row">
        <div class="col-md-12">
            <p><b><i>Beta!</i></b> Subscribe to your Adult Coed or Men's Rec team schedule on your mobile device or calendar app.</p>
        </div>
    </div>

    <form action="" id="breakaway-calendar-selecter">
        <!-- Content -->
        <div class="row" style="padding-bottom: 5px;">
            <div class="col-md-12">
                <select name="team" class="team-selector">
                    <option>Select Team</option>
                    {% for team in teams %}
                        <option id="{{ team.id }}" data-webcal="{{ team.webcal }}" data-google="{{ team.google }}" data-online="{{ team.online }}" value="{{ team.id }}">{{ team }} ({{ team.league }})</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <input type="submit" id='webcal-button' name="action" value="Subscribe to team"/>
                <input type="button" id='google-button' name="action" value="Add to Google Calendar"/>
                <input type="button" id='online-button' name="action" value="View Online"/>
            </div>
        </div>
    </form>
    <script type="text/javascript">


        var form_processor = function(launch_mode) {
            var form = document.getElementById('breakaway-calendar-selecter');
            var option = document.getElementById(form.team.value);

            if( launch_mode === 'webcal') {
                window.top.location = option.getAttribute('data-webcal');
            }
            if( launch_mode === 'google') {
                window.top.location = option.getAttribute('data-google');
            }
            if( launch_mode === 'online') {
                window.top.location = option.getAttribute('data-online');
            }
        }


        document.getElementById('webcal-button').onclick = function() { form_processor('webcal'); };
        document.getElementById('google-button').onclick = function() { form_processor('google'); };
        document.getElementById('online-button').onclick = function() { form_processor('online'); };

        document.getElementById('breakaway-calendar-selecter').onsubmit = function(event) {
            event.preventDefault();
            form_processor('webcal');
        }

    </script>
</div>
</div>
<!-- END Container -->
</div>
</body>
</html>


