{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <br>
        <table class="table table-bordered table-striped">
            <tr>
                <td>Today is {% now "l, F jS, Y g:i a" %}</td>
            </tr>
        </table>
        {% if todays_games %}
            <table class="table table-bordered table-striped">
                <thead>
                <tr>
                    <td colspan="5"><h3>Today's Games</h3></td>
                </tr>
                <tr>
                    <th>Field</th>
                    <th>Home Team</th>
                    <th>Away Team</th>
                    <th>Game Time</th>
                    <th>Game Date</th>
                </tr>
                </thead>
                <tbody>
                {% for game in todays_games %}
                    <tr>
                        <td>{{ game.field }}</td>
                        <td>
                            <a href="/team/{{ game.home_team.id }}"
                               title="{{ game.home_team }}">
                                {{ game.home_team.name }}({{ game.home_team.color }})
                            </a>
                        </td>
                        <td>
                            <a href="/team/{{ game.away_team.id }}"
                               title="{{ game.away_team }}">
                                {{ game.away_team.name }}({{ game.away_team.color }})
                            </a>
                            {% if game.color_conflict %}
                                <span class="glyphicon glyphicon-flag" title="Color conflict"></span>
                            {% endif %}
                        </td>
                        <td>{{ game.time|time:"g:i a" }}</td>
                        <td>{{ game.time|date:"M d (l)" }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}

        {% if league %}
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <td colspan="3"><h3>Team List</h3></td>
                </tr>
                <tr>
                    <th>Number</th>
                    <th>Team Name</th>
                    <th>Color</th>
                </tr>
                </thead>
                <tbody>
                {% for team in league.teams.all %}
                    <tr>
                        <td>{{ team.number }}</td>
                        <td><a role="menuitem" href="/team/{{ team.id }}/">{{ team.name }}</a></td>
                        <td>{{ team.color }}</td>

                    </tr>
                {% endfor %}

                </tbody>
            </table>
        {% endif %}

    </div>
{% endblock %}
